body {
    --text-color: #223B7B;
    --bg-color: #ffffff;
    --secondary-bg-color: #f5f5f5;
    --border-color: #223B7B;
}

body.dark-theme {
    --text-color: #ffffff;
    --bg-color: #223B7B;
    --secondary-bg-color: #001B61;
    --border-color: #001B61;
}

@media (prefers-color-scheme: dark) {
    body {
        --text-color: #ffffff;
        --bg-color: #223B7B;
        --secondary-bg-color: #001B61;
        --border-color: #001B61;
    }
    body.light-theme {
        --text-color: #223B7B;
        --bg-color: #ffffff;
        --secondary-bg-color: #f5f5f5;
        --border-color: #223B7B;  
    }
    
}

$padding: 32px;
// $blue: #223B7B;
// $lightgray: #f5f5f5;
$screen-md: 1200px;
$screen-s: 1000px;
$screen-xs: 750px;
$screen-xxs: 600px;


// Media Queries

@mixin below($breakpoint) {
    @media all and (max-width: ($breakpoint - 1)) {
        @content;
    }
}
  
@mixin respond-between($min, $max) {
    @media all and (min-width:$min) and (max-width:$max - 1) {
        @content;
    }
}
  
@mixin above($min-width) {
    @media all and (min-width: ($min-width)) {
        @content;
    }
}

