// Structural
@use 'variables';
@use 'underscore.scss';
@use 'structure.scss';
@use 'typography.scss';
@use 'project-card.scss';
@use 'project.scss';
@use 'slick.scss';

body {
    color: var(--text-color);
    background-color: var(--bg-color);
}

a {
    text-decoration: none;
    // font-weight: 600;
    color: var(--text-color);
    &:hover {
        text-decoration: underline;
    }    
    &:visited {
        color: var(--text-color);
    }
    &:active {
        color: var(--text-color);
    }        
}

header {
    @include typography.plex;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: variables.$padding;
    border-bottom: 1px solid var(--border-color);
    .menu {
        display: flex;
        justify-content: center;
        flex-direction: row;  
        gap: 1em;
        a {
            font-weight: 600;
        }
        .svg-icon {
            border: 0;
            fill: var(--text-color);
            &:hover {
                fill: #ff0;
            }
        }
    }
}

.main-wrapper {
    a {
        text-decoration: underline;
    }
    .main-content {
        padding: variables.$padding;
        
        max-width: 1000px;
        margin: auto;
    }
    .intro {
        padding: ( variables.$padding * 2) variables.$padding;
        div {
            max-width: 800px;
            line-height: 1.6em;
        }
    }
    .project-list {
    
    }
}

.svg-icon {
    fill: none;
    stroke: var(--text-color);
    cursor: pointer;
    &:hover {
        border: 1px solid var(--text-color);
        border-radius: 100%;
    }
}