@use 'variables';


.project-content {
    .project-content-top {
        display: flex;
        flex-direction: row;
        gap: 2em;
        padding: (variables.$padding * 3) variables.$padding;
        .project-image {
            width: 50%;
            max-width: 100%;
            img {
                width: 100%;
            }
            @include variables.below(variables.$screen-s) {
                width: 100%;
            }            
        }
        .project-text {
            width: 50%;
            p {
                padding-top: 1em;
                font-size: 18px;
                line-height: 1.6em;
            }  
            @include variables.below(variables.$screen-s) {
                width: 100%;
            }                       
        }
        .project-details {
            span.label {
                font-family: plex;
                font-weight: 600;
                display: inline-block;
                width: 130px;
                margin: 0 10px 8px 0;
                border-bottom: 1px solid var(--text-color);
                @include variables.below(variables.$screen-s) {
                    width: 60px;
                }
            }
        }
        @include variables.below(variables.$screen-s) {
            flex-direction: column-reverse;
            gap: variables.$padding;
            padding: variables.$padding;
        }
    }
    .project-images {
        padding: (variables.$padding * 3) variables.$padding;
        // margin: variables.$padding 0;
        display: flex;
        flex-direction: row;
        align-items: center;  
        justify-content: space-evenly;
        background-color: var(--secondary-bg-color);
        .slider {
            width: 90%;
            display: flex;
            align-items: center;
            figure {
                width: 100%;
                img {
                    max-width: 100%;
                    margin: 0 auto;
                }
            }
        }
        .mobile-slider-nav {
            display: none;
            margin-bottom: 1em;
            svg {
                margin: 0 1em 1em;
            }
            @include variables.below(variables.$screen-s) {
                display: block;
            }
        }
        & > .svg-icon {
            @include variables.below(variables.$screen-s) {
                border: 1px solid red;
                display: none;
            }
        }         
        @include variables.below(variables.$screen-s) {
            flex-direction: column-reverse;
            flex-wrap: wrap;
            gap: 10px;
            padding: 0;
            .slider {
                order: 1;
                width: 100%;

            }
           
        }        
    }
    .project-pagination {
        padding: variables.$padding;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        gap: 20px;
        width: 100%;
        font-weight: 200;
        .paginate-link {
            display: flex;
            flex-direction: row;
            font-size: 1.4em;
            &.paginate-next {
                margin-left: auto;
            }
            &.paginate-prev {            
                margin-right: auto;        
                text-align: right;                
            }
        }
        a {
            display: flex;
            flex-direction: row;
            align-items: center;
            justify-content: flex-end;  
           svg {
            margin: 0 16px; 
           }         
        }
        @include variables.below(variables.$screen-s) {
            flex-direction: column;
            align-items: flex-start;
            .paginate-link {
                font-size: 1em;
                &.paginate-next {
                    margin-left: 0;
                }
                &.paginate-prev {            
                    margin-right: 0;        
                    text-align: left;                
                }                
            }
            a {
                justify-content: flex-start;  
                svg {
                    display: none;
                }
            }
        }        
    }

}

.line-list {
    ul {
        list-style-type: none;
        display: inline;
        margin: 0;
        padding: 0;
        li {
            display: inline;
            &:after {
                content: ',';
                padding-right: 4px;
            }
            &:last-of-type:after {
                content: ''
            }
        }
    }
}