@use 'variables';

.project-card {
    border-top: 1px solid variables.$blue;
    display: flex;
    flex-direction: row;
    padding: 1em;
    figure {
        margin: 0;
        width: 50%;
        min-width: 50%;
        img {
            width: 100%;
        }
        a {
            display: block;
            line-height: 0;
        }
    }
    .project-text {
        padding: 0 variables.$padding;
        & > div {
            padding-top: 16px;
        }
    }
    @include variables.below(variables.$screen-xs) {
        flex-direction: column;
        gap: variables.$padding;
        padding-bottom: variables.$padding;
        figure {
            width: 100%;
        }
        .project-text  {
            padding: 0;
        }
    }    
}