@use 'variables';

.project-card {
    border-top: 1px solid var( --border-color);
    display: flex;
    flex-direction: row;
    padding: 1em;
    figure {
        margin: 0;
        width: 50%;
        min-width: 50%;
        img {
            width: 100%;
        }
        a {
            display: block;
            line-height: 0;
        }
    }
    .svg-icon {
        padding: 2px;
        margin-top: 4px;
    }
    .project-text {
        padding: 0 0 0 variables.$padding;
        width: 100%;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        .project-text-details {
            padding-top: 16px;
        }
        a {
            // margin-top: auto;
        }
    }
    @include variables.below(variables.$screen-xs) {
        flex-direction: column;
        gap: variables.$padding;
        padding-bottom: variables.$padding;
        figure {
            width: 100%;
        }
        .project-text  {
            padding: 0;
        }
    }    
}