@font-face {
    font-family: 'Plex';
    src: url('fonts/IBMPlexSans-Light.eot');
    src: url('fonts/IBMPlexSans-Light.eot?#iefix') format('embedded-opentype'),
        url('fonts/IBMPlexSans-Light.woff2') format('woff2'),
        url('fonts/IBMPlexSans-Light.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Plex';
    src: url('fonts/IBMPlexSans-LightItalic.eot');
    src: url('fonts/IBMPlexSans-LightItalic.eot?#iefix') format('embedded-opentype'),
        url('fonts/IBMPlexSans-LightItalic.woff2') format('woff2'),
        url('fonts/IBMPlexSans-LightItalic.woff') format('woff');
    font-weight: normal;
    font-style: italic;
    font-display: swap;
}

@mixin plex {
    font-family: 'Plex', sans-serif;
}

.plex {
    @include plex;
}

.small-caps {
    text-transform: uppercase;
    font-size: 14px;
}

html {
    font-family:'Times New Roman', Times, serif;
    font-size: 18px;
}

h1, h2, h3, h4, h5 {
    font-family: 'Plex', sans-serif;
    font-weight: 400;
    margin: 0;
}

.intro {
    font-family: 'Times New Roman', sans-serif;
    font-size: 32px;

}

.main-content {
    line-height: 1.8em;
}

